{% extends 'base.html' %}

{% block content %}
<div class="home-box">
    {% if images %}
        {% for image in images %}
        <div class="card-img">
            <img src="/img/{{ image.file }}" alt="">
            <h3>{{ image.name }}</h3>
            <p>{{ image.username }}</p>
            <div>
                <span>|</span>
                {% for tag in image.tags %}
                        <span>{{ tag }} | </span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="emptyrep">
            <img src="/icon/repFolder2DarkPurple.svg" alt="">
            <h2>No images from users :(</h2>
        </div>
    {% endif %}
</div>
{% endblock %}