{% extends 'base/base.html' %}

{% block content %}
{% from 'macro.html' import renderField %}

{# PROFILE HEADER #}
<div class="profile-header">
    <div>
        <img src="../static/icon/userIcon.svg" alt="User Icon" id="user-icon">
        <h1>{{ name }} {{ lastname }}</h1>
        <h2>{{ username }}</h2>
    </div>
    <div>
        <button type="button" id="add-image">Add image</button>
        <button type="button" id="create-rep">Create repository</button>
    </div>
</div>

{# CREATE-REP-FORM #}
<div id="create-rep-form">
    <img src="../static/icon/closePurple.svg" alt="" width="20" class="close" id="close">
    <h2>Create repository</h2>

    <form action="/repository/create" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="">
            <img src="../static/icon/editPencil.svg" alt="">
            Repository name
        </label>
        {{ renderField(form.name) }}

        <button type="submit" id="create-button">Create</button>
    </form>
</div>

{# ADD-IMAGE-FORM #}
<div id="add-image-form">
    <img src="../static/icon/closePurple.svg" alt="close" class="close">
    <h2>Add image</h2>

    {# FORM #}
    <form action="/image/create" method="POST" id="imageForm" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="inputbox">
            <input type="file" accept="image/*" name="file" id="file" class="inputfile" required>
            <label for="file">Upload image</label>
        </div>

        <input type="text" placeholder="Add a title" title="Add a title for the image" name="name" required>
        <textarea name="description" id="" placeholder="Add a description" 
        title="Add a description for the image"></textarea>

        <div class="tagIcon">
            <img src="../static/icon/tagIcon.svg" alt="">
            <span>Tags</span>
        </div>
        <p>Add tagnames followed by a comma</p>
        <input type="text" placeholder="E.g.: landscape, flower, garden" name="tags" required>

        <div class="repIcon">
            <img src="../static/icon/repositoryIcon.svg" alt="">
            <span>Repository</span>
        </div>
        
        <select name="rep" id="rep-list" required>
            {% if reps %}
                {% for rep in reps %}
                        <option value="{{ rep.id }}">{{ rep.name }}</option>
                {% endfor %}
        {% endif %}
        </select>

        <button type="submit" class="button">Add image</button>
    </form>
</div>

{# IMAGE-BOX #}
<div class="image-box">
    <div>
        <h2>{{ rep.name }}</h2>
        <p>{{ length }} images</p>
    </div>
    <div>
        {% for image in images %}
        <div class="card-img">
            <img src="../{{ image.file }}" alt="">
            <h3>{{ image.name }}</>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}